<h1>Decisions#edit</h1>
<p>Find me in app/views/decisions/edit.html.erb</p>

<%= form_for @decision do |d| %>
	<%= d.label :description %>
	<%= d.text_area :description %>
	<%= d.label :option_a %>
	<%= d.text_field :option_a %>
	<%= d.label :option_b %>
	<%= d.text_field :option_b %>
	<%= d.submit("Create Custom Decision") %>
<% end %>