



<%= form_for @decision do |d| %>
	<%= content_tag :h3, "Pick a Decision Type:" %>
	<%= d.select(:type_id, Type.all.collect {|t| [ t.description, t.id ] }) %>
	<!-- make a hiding method for custom -->
	<div id="custom_dec_hider">
		<%= content_tag :h3, "Describe the decision you are facing:" %>
		<%= d.text_area :description, :id => "description", :placeholder => "Enter a description here and enable other users to vote on this decision" %>
		<div class="option_input" id="first_option_input">
			<%= d.fields_for @firstoption do |a| %>
			<%= content_tag :h3, "The first option is:", :id => "first_option_description" %>
			<%= a.text_field :description %>
			<% end %>
		</div>
		<div class="option_input" id="second_option_input">
			<%= d.fields_for @secondoption do |b| %>
			<%= content_tag :h3, "The second option is:", :id => "second_option_description" %>
			<%= b.text_field :description %>
			<% end %>
		</div>
	</div>
	<%= content_tag :h3, "Then hit:" %>
	<%= d.submit "choose." %>
	<% end %>
<% if user_signed_in? %>
	<br>
	<button id="hide_button">Custom Decision</button>
	<br>
	<br>
	<article>
	<p>
		 The responses you give to the app's choices will be used to learn how to better advise you on future decisions of the same type. Go to your Profile to view your preferences across all of <strong>choose.</strong>'s decision types. You can also click "Custom Decision" if you would like to ask the <strong>choose.</strong> community to anonymously vote on your decision.
	</p>
</article>
<% else %>
<br>
<br>
<article>
	<p>
		Life in the 21<sup>st</sup> Century is overloaded with choice, and taking the time to ponder every decision will leave you hung up on the details. <strong>choose.</strong> is here to make that easier by helping you decide between two options. Select a category above and start making decisions or sign up and allow <strong>choose.</strong> to start learning your preferences, as well as creating and voting on custom decisions.
	</p>
</article>
<% end %>
