



<%= form_for @decision do |d| %>
	<%= content_tag :h3, "What kind of decision is this?" %>
	<%= d.select(:type_id, Type.all.collect {|t| [ t.description, t.id ] }) %>
	<!-- make a hiding method for custom -->
	<div id="custom_dec_hider">
		<%= content_tag :h3, "What is the background for this decision?" %>
		<%= d.text_area :description, :id => "description", :placeholder => "Entering a description here will make this a public decision that other users can vote on." %>
		<div class="option_input" id="first_option_input">
			<%= d.fields_for @firstoption do |a| %>
			<%= content_tag :h3, "The first option is:", :id => "first_option_description" %>
			<%= a.text_field :description %>
			<% end %>
		</div>
		<div class="option_input" id="second_option_input">
			<%= d.fields_for @secondoption do |b| %>
			<%= content_tag :h3, "The second option is:", :id => "second_option_description" %>
			<%= b.text_field :description %>
			<% end %>
		</div>
	</div>
	<br>
	<br>
	<%= d.submit "Ask choose." %>
	<% end %>
<% if user_signed_in? %>
	<br>
	<button id="hide_button">Custom Decision</button>
<% end %>
<article>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio qui cumque perferendis sapiente, blanditiis dolorum nobis quae id tempore vel. Voluptatum eligendi ex, adipisicing elit. Laudantium illum eligendi nobis quasi vitae, Magni ipsam, delectus, optio facere ad veritatis architecto, sint ab at, rerum blanditiis?
	</p>
</article>
