<h1>Decisions#show</h1>
<p>Find me in app/views/decisions/show.html.erb</p>




<%= content_tag :h2, "We said suggested:" %>
<%= @decision.display_app_choice() %>

<% if current_users_decision %>
	<%= content_tag :h2, "You have chosen:" %>
<% else %>
	<%= content_tag :h2, "The creator of this decision have chose:" %>
<% end %>
<%= @decision.display_user_choice() %>