<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>





<% @user.arbiter.preferences.each do |p| %>
<%= p.type.description %>
<br>
<%= p.type.possibility_name(0) %>
<br>
<%= p.explain_preference_a %>%
<br>
<%= p.type.possibility_name(1) %>
<br>
<%= p.explain_preference_b %>%
<br>
<% end %>

<br>





<% if @user == current_user %>
	<%= link_to "Sign Out", destroy_user_session_path(), confirm: 'Are you sure that you would like to sign out?', :method => :delete %>
<% end %>